/*************************************************
 * EnvironmentNavComponent Properties
 ************************************************/
// Default Properties for the environment-nav component go here

/*************************************************
 * EnvironmentNavComponent Styles
 ************************************************/
.ht-environment-nav {
	
}

.btn-group {
	margin-right: 5px;
}

.btn-default {
	margin-bottom: 10px;
}

.selection-search {
	padding-left: 0px !important;
	width: 16em !important;;
}
.nav-drop {
	background-color: #EFEAEA;
	padding: 40px 0px;
}

.selection-search {
	display: inline-block;
}

	.panel {
		border-radius: 0px !important;
		border: 0px !important;
		.panel-heading {
			background-color: #EFEAEA;
			padding: 20px 0px;
		}
		.panel-body {
			padding: 0px;
		}
}

.drop-container {
	background-color: #EFEAEA;
}