/*************************************************
 * TopoViewerComponent Properties
 ************************************************/
// Default Properties for the topo-viewer component go here
$selected-row-color: #B7D5EF;
$selected-row-hover-color: darken($selected-row-color, 10%);
$default-text-color: #0000FF;
$tdMaxWidth: 300px;

/*************************************************
 * TopoViewerComponent Styles
 ************************************************/
@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -ms-animation: $animation;
  animation: $animation;
}

.results-filter {
  padding-top: 7px;
  display: inline-block;
  .checkbox {
    display: inline;
    margin-right: 16px;
  }
}

.results-search {
  margin-left: 20px;
  padding-bottom: 6px;
  display: inline-block;
  float: right;
}

.env-search {
  margin-left: 20px;
  display: inline-block;
}

.ht-topo-viewer {
  .header-table {
    margin-bottom: 0;
  }

  .navbar-fixed-top.scroll-active {
    box-shadow: 0px 2px 5px #888888;
  }

  .show-all-ctrls {
    padding-right: 23px;
  }

  .content-container {
    padding-top: 250px;
  }

  table{
    table-layout: fixed;
  }

  th, td {
    word-wrap: break-word;
    overflow: hidden;
    width: $tdMaxWidth;

    &.default-value {
      color: $default-text-color;

      &:hover {
        color: lighten($default-text-color, 10%);
      }
    }
  }

  tr {
    @include transition(all .5s);

    &.ng-enter {
      @include animation(bounceIn 0.5s);
    }
    &.ng-leave {
      @include animation(bounceOut 0.5s);
    }

    &.selected {
      background-color: $selected-row-color;

      &:hover {
        background-color: $selected-row-hover-color;
      }
    }
  }

  .accordion-toggle {
    .left-header {
      > span {
        padding-right: 10px;
      }

      button {
        margin-right: 10px;
      }
    }
  }


  .dropdown-menu li {
    a.selected {
      background-color: $selected-row-color;
    }

    &.active a.selected{
      background-color: darkred;
    }
  }

  .display-label {
    padding-right: 15px;
  }
}