/*************************************************
 * HomeComponent Properties
 ************************************************/
// Default Properties for the home component go here

/*************************************************
 * HomeComponent Styles
 ************************************************/
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.btn-default {
	border-radius: 2px;
}
.dropdown-menu {
	border-radius: 0px 0px 2px 2px;
}
.container {
	
}
.ht-home {
  h1 {
    color: blue;
  }
}

.page-header {
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
	background-color: #292829;
	h1 {
		display: inline-block;
		margin-top: 0px;
		padding: 20px 5px 0px 0px;
		color: white;
		font-size: 1.5em;
		letter-spacing: 1px;
		.ng-binding {
			padding-left: 5px;
			color: white;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: .5em;
		}
	}

}