<div class="ht-topo-viewer">
  <div class="page-header">
    <h1>TOPO<small ng-click="stateMachine.next()">[[ stateMachine.current ]]</small></h1>
  </div>

  <div ht-selection-helper="envSelectionManager"
       selection-data="envCollection"
       selection-id-field="id">
  </div>

  <ht-environment-nav groups="envGroups"
                      group-names="groupKeys"
                      selection-manager="envSelectionManager">
  </ht-environment-nav>


  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="showEmptyKeys">
      Show empty keys
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="showDefaultValues">
      Show default values
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="showExpandedValues">
      Show expanded values
    </label>
  </div>
  <table class="table table-hover">
    <th>Key</th>
    <th ng-repeat="env in selectedEnvs">
      [[ env ]]
    </th>
    <tr ng-repeat="key in filteredKeys">
      <td>
        [[ key ]]
      </td>
      <td ng-repeat="env in selectedEnvs" ng-class="{ 'default-value': isDefaultValue(env, key) }">
        [[ getTopoValue(env, key) ]]
      </td>
    </tr>
  </table>
</div>
