<div class="ht-environment-nav">
    <span>
    <!--<div ng-repeat="group in groupKeys">-->
      <!--<label>[[group]]</label><br/>-->
      <!--<div class="btn-group">-->
        <!--<button ng-repeat="env in envGroups[group]"-->
                <!--type="button"-->
                <!--class="btn btn-default"-->
                <!--ng-class="{ 'btn-primary': envSelectionManager.isIdSelected(env) }"-->
                <!--ng-click="envSelectionManager.toggleSelectionById(env)">[[ env ]]</button>-->
      <!--</div>-->
    <!--</div>-->
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group" ng-repeat="groupName in groupNames">
        <button ng-repeat="env in groups[groupName]"
                type="button"
                class="btn btn-default"
                ng-class="{ 'btn-primary': selectionManager.isIdSelected(env) }"
                ng-click="selectionManager.toggleSelectionById(env)">[[ env ]]</button>
      </div>
    </div>
  </span>
</div>
